.account-container {
  width: 100%;
  //height: 100%;
  background: url('/images/bg_01.png') no-repeat center center fixed;
  background-size: cover;
  background-position: -100px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;

  .weapons-container-wrapper {
    width: 90%;
    margin: 20px auto;
    margin-bottom: 150px;
    box-shadow: 0 2px 3px rgba(0,0,0,.25);

    .header {
      height: 130px;
      background: $black-secondary;
      @include flex-box;
      flex-direction: row;
      flex-wrap: nowrap;
      border-radius: 6px 6px 0 0;
      border-top: 1px solid #1f2935;

      .profile {
        border-right: 1px solid #343E48;
        padding: 30px 20px;
        flex-basis: 250px;
        flex-grow: 0;
        flex-shrink: 1;
        .image {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          border: 2px solid #fff;
          overflow: hidden;
          display: inline-block;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .details {
          display: inline-block;
          font-size: 12px;
          color: #fff;
          vertical-align: top;
          margin-left: 4px;
          padding: 3px 0;
          h5 {
            margin-bottom: 6px;
          }
          p {
            margin-bottom: 6px;
          }
          .cash-info {
            width: 64px;
            background: #747379;
            padding: 5px 8px;
            border-radius: 4px;
            &:after {
              content: " ";
              display: block;
              clear: both;
            }
            .cash {
              float: left;
            }
            .add {
              color: $success;
              float: right;
            }
          }
        }
      }
      .trade-url {
        padding: 30px 20px;
        p {
          font-size: 12px;
          color: #fff;
          margin-bottom: 10px;
        }
        input{
          max-width: 70%;
          min-width: 50%;
        }
      }
    }
    .weapons-container {
      @include flex-box;
      padding: 20px;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      background: $backpack-bg;
      justify-content: space-around;
      .weapon-block {
        width: 100px;
        height: 100px;
        margin: 8px;
        img {
          width: 36%;
          height: 36%;
        }
      }
    }
  }
}