.home-container {

  .hero{
    background: url('/images/bg_01.png') no-repeat center center fixed;
    background-size: cover;
    background-position: -100px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-bottom: 20px;
  }

  @include flex-box;
  flex-direction: column;
  padding-bottom: 60px;

  .nitro-box-preview {
    text-align: center;
    padding: 20px;
    .btn {
      margin-top: 20px;
    }
  }
  .weapons-container-wrapper {
    //height: 100px;
    .weapons-container {
      @include flex-box;
      overflow-x: auto;
      overflow-y: hidden;
      flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      -webkit-flex-wrap: nowrap;
    }
  }
  .nitro-box-container {
    padding: 10px;
    color: white;
    .title {
      text-align: center;
      margin: 20px 0 30px 20px;
    }
    .nitro-box-list {
      @include flex-box;
      flex-wrap: wrap;
      cursor: pointer;
      justify-content: center;

      .nitro-box {
        padding: 10px;
        border-radius: 4px;
        margin-bottom: 30px;
        margin-left: 10px;
        margin-right: 10px;
        transition: all .4s;
        &:hover{
          background-color: rgba(0,0,0,.3);
        }

        .image {
          display: block;
          img{
            width: 200px;
            height: 120px;
          }
        }
        .details {
          display: block;
          text-align: center;
          p {
            font-size: 13px;
          }
        }
      }
    }
  }
}