.purchase-modal{
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: $backpack-bg;
  color: white;
  overflow: auto;
  WebkitOverflowScrolling: touch;
  outline: none;
  padding: 20px;
  text-align: center;
  width: 400px;
  min-height: 200px;



}