.flex{
  display: flex;
  &.column{
    flex-direction: column;
  }
  &.center{
    align-items: center;
  }
}

.flex-item{
  flex: 1
}

.mb-l{
  margin-bottom: 20px;
}

.mb-m{
  margin-bottom: 10px;
}

.text-center{
  text-align: center;
}