.tick-enter {
  opacity: 0.01;
}

.tick-enter.tick-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.tick-leave {
  opacity: 1;
}

.tick-leave.tick-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}