.btn {
  padding: 6px 16px;
  border: 1px solid black;
  border-radius: 4px;
  min-width: 80px;
  cursor: pointer;

  &-success {
    background: $success;
    color: white;
    &:hover{
      background: transparentize($success, 0.2);
    }
  }

  &-primary {
    background: $primary;
    color: white;
    &:hover{
      background: transparentize($primary, 0.2);
    }
  }

  &.lg{
    padding: 10px 24px;
    font-size: .8em;
    height: 45px;
  }

  &[disabled]{
    cursor: not-allowed;
    opacity: .4;
  }

  &.loading {
    //TODO
  }
}