footer {
  height: 45px;
  width: 100%;
  position: fixed;
  bottom: 0;
  background: #0b131c;
  color: #adb3b9;
  line-height: 50px;
  text-align: center;
  padding-right: $backpack-width;
  p {
    font-size: 13px;
    font-weight: 100;
  }
  a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
  }
}