input{
  height: 45px;
  font-size: 1em;
  background: lighten($backpack-bg, 10%);
  color: #e2e2e2;
  border: none;
  padding: 12px;
  outline: none;
}
.input-addon{
  color: #e2e2e2;
  .addon{
    position: relative;
    right: 16px;
  }
}

.form-control {
  background: $black-primary;
  border: 1px solid #343e48;
  padding: 5px;
  border-radius: 4px;
  color: #343e48;
  &:focus, &:active {
    border: 1px solid #343e48;
  }
}