.navbar {
  background: $black-primary;
  color: white;
  height: 50px;
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  @include box-shadow(0, 3px, 3px, 0, rgba(0, 0, 0, 0.25));
  font-size: 14px;
  font-weight: 100;
  ul {
    @include flex-box;
    list-style: none;
    margin: 0;

    li {
      a {
        text-decoration: none;
        display: block;
        padding: 10px 15px;
        color: white;
      }
    }

    .balance{
      .amount{
        font-size: .8em;
        background: #1e2834;
        padding: 2px 15px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        box-shadow: inset 0px 0px 2px rgba(0,0,0,.4);
      }
      .buy-btn{
        cursor: pointer;
        position: relative;
        right: 10px;
        border-radius: 50%;
        padding: 3px;
        background-color: #00456b;
        box-shadow: inset 0px 0px 2px rgba(0,0,0,.4);
      }
    }

    .menu{
      .account{
        display: flex;
        align-items: center;

        > span{
          margin-right: 5px;
          font-size: .9em;
        }
        img{
          width: 32px;
          height: 32px;
          border-radius: 50%;
        }
      }
    }

  }
}