
::-webkit-scrollbar {
    width: 9px;
    height: 9px;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background: #2c425a;
    border: 2px none #ffffff;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
    background: lighten($black-primary, 30%);
}
::-webkit-scrollbar-thumb:active {
    background: lighten($black-primary, 20%);;
}
::-webkit-scrollbar-track {
    background: #0e1920;
    border: none;
    border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
    //background: $black-secondary;
}
::-webkit-scrollbar-track:active {
    background: $black-secondary;
}
::-webkit-scrollbar-corner {
    background: transparent;
}