.sidebar-left {
  background: $black-primary;
  position: fixed;
  top: 50px;
  left: 0;
  bottom: 0;
  z-index: 9998;
  overflow: hidden;
  width: $ticker-width;
  @include box-shadow(3px, 0, 3px, 1px, rgba(0, 0, 0, 0.25));
  @include flex-box;
  flex-direction: column;

  .weapon-block {
    border-bottom: 1px solid $black-primary;
    padding: 10px;
    width: 100px;
    height: 100px;
    border-bottom: none;
    border-left-width: 2px;
    border-left-style: solid;
  }

  .ticker{
    overflow: hidden;
  }

  .case-stat{
    text-align: center;
    color: white;
    font-size: .7em;
    padding: 10px 5px;
    background: #101d2a;
    box-shadow: 0 -2px 2px rgba(0,0,0,.4);
    position: absolute;
    bottom: 0;
    width: 100px;
    >div{
      margin-bottom: 3px;
    }
  }
}