.sidebar-right {
  @include flex-box;
  flex-direction: column;
  @include box-shadow(-3px, 0, 3px, 1px, rgba(0, 0, 0, 0.25));
  position: fixed;
  right: 0;
  bottom: 0;
  top: 50px;
  width: $backpack-width;
  color: white;
  background: $backpack-bg;
  z-index: 10;

  .header {
    height: 50px;
    background: $black-secondary;
    color: #dedede;
    line-height: 50px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.35);
    z-index: 1;
    i {
      position: absolute;
      left: 20px;
      top: 15px;
      cursor: pointer;
    }
    p {
      text-align: center;
      font-size: 13px;
      font-weight: 100;
    }
  }

  .backpack-container {
    @include flex-box;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    align-content: flex-start;
    padding: 10px;
    overflow: auto;
    .weapon-block {
      width: 90px;
      height: 100px;
      margin: 10px 7px;
      img{
        width: 36%;
        height: 36%;
      }

      &:last-child{
        margin-right: auto;
        margin-left: 7px;
      }
    }
  }

  .footer {
    height: 100px;
    background: $black-secondary;
    padding: 20px 15px;
    text-align: center;
    box-shadow: 1px 0 2px rgba(0,0,0,1);

    .value {
      p {
        font-weight: 400;
        font-size: 13px;
        .badge {
          background: $backpack-bg;
          border-radius: 4px;
          padding: 5px 10px;
          margin-left: 10px;
        }
      }
    }
    .button-group {
      margin: 20px auto;
      .btn {
        min-width: 120px;
        margin: 0 4px;
      }
    }
  }
}