.weapon-block {
  flex: none;
  background: $black-secondary;
  width: 70px;
  height: 70px;
  border-bottom: 2px solid;
  border-color: $success;
  text-align: center;
  cursor: pointer;
  font-size: 12px;
  font-weight: 100;
  color: $text-color-secondary;
  transition: all .4s;

  .price-info {
    height: 22px;
    padding: 5px 4px;
    //margin-bottom: 6px;
    padding: 5px;
    background: $black-primary;

    .info {
      float: left;
    }
    .price {
      float: right;
    }
  }

  img {
    width: 50%;
    height: 50%;
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .title {
    background: $black-primary;
    padding: 4px;
    color: #fff;
    text-align: left;
    font-size: 10px;

  }

  &:hover {
    background: transparentize($black-primary, 0.3);
    box-shadow: inset 0 0 5px rgba(0,0,0,.3);
    color: #eee;
  }
  &-blue {
    border-color: $blue;
  }
  &-green {
    border-color: green;
  }
  &-red {
    border-color: $red;
  }
  &-purple {
    border-color: purple;
  }
  &-gold {
    border-color: gold;
  }

  &.placeholder {
    visibility: hidden;
    height: 0;
    padding: 0;
    margin: 0;
    border-top-width: 0;
    border-bottom-width: 0;
  }
}