.lucky-wheel{
  padding: 8px 0px;
  background: rgba(0,0,0,.2);

  .weapon-block{
    width: 90px;
    height: 90px;
    margin: 0 5px;
    box-shadow: 1px 1px 2px rgba(0,0,0,.25);
    border-top: 1px solid #202d39;
  }
}